<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Start</th>
      <th>Stop</th>
      <th>Length</th>
      <th>Ref</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>20120530</td>
      <td>20120601</td>
      <td>2</td>
      <td>260.6</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20120601</td>
      <td>20120701</td>
      <td>30</td>
      <td>260.6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>20120701</td>
      <td>20120728</td>
      <td>27</td>
      <td>270.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20120728</td>
      <td>20120822</td>
      <td>25</td>
      <td>291.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>20120822</td>
      <td>20120926</td>
      <td>35</td>
      <td>253.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>20120926</td>
      <td>20121026</td>
      <td>30</td>
      <td>254.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>20121026</td>
      <td>20121123</td>
      <td>28</td>
      <td>239.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>20121123</td>
      <td>20121223</td>
      <td>30</td>
      <td>248.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>20121223</td>
      <td>20130124</td>
      <td>32</td>
      <td>245.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>20130124</td>
      <td>20130222</td>
      <td>29</td>
      <td>265.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>20130222</td>
      <td>20130325</td>
      <td>31</td>
      <td>250.1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>20130325</td>
      <td>20130421</td>
      <td>27</td>
      <td>257.4</td>
    </tr>
    <tr>
      <th>12</th>
      <td>20130421</td>
      <td>20130523</td>
      <td>32</td>
      <td>253.6</td>
    </tr>
    <tr>
      <th>13</th>
      <td>20130523</td>
      <td>20130621</td>
      <td>29</td>
      <td>276.4</td>
    </tr>
    <tr>
      <th>14</th>
      <td>20130621</td>
      <td>20130719</td>
      <td>28</td>
      <td>268.5</td>
    </tr>
    <tr>
      <th>15</th>
      <td>20130719</td>
      <td>20130818</td>
      <td>30</td>
      <td>261.9</td>
    </tr>
    <tr>
      <th>16</th>
      <td>20130818</td>
      <td>20130916</td>
      <td>29</td>
      <td>255.7</td>
    </tr>
    <tr>
      <th>17</th>
      <td>20130916</td>
      <td>20131003</td>
      <td>17</td>
      <td>268.7</td>
    </tr>
    <tr>
      <th>18</th>
      <td>20131003</td>
      <td>20131016</td>
      <td>13</td>
      <td>286.2</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20131016</td>
      <td>20131114</td>
      <td>29</td>
      <td>284.4</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20131114</td>
      <td>20131204</td>
      <td>20</td>
      <td>274.8</td>
    </tr>
    <tr>
      <th>21</th>
      <td>20131204</td>
      <td>20140113</td>
      <td>40</td>
      <td>271.1</td>
    </tr>
    <tr>
      <th>22</th>
      <td>20140113</td>
      <td>20140211</td>
      <td>29</td>
      <td>270.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>20140211</td>
      <td>20140411</td>
      <td>59</td>
      <td>248.2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>20140411</td>
      <td>20140417</td>
      <td>6</td>
      <td>248.2</td>
    </tr>
    <tr>
      <th>25</th>
      <td>20140417</td>
      <td>20140609</td>
      <td>53</td>
      <td>284.4</td>
    </tr>
    <tr>
      <th>26</th>
      <td>20140609</td>
      <td>20140709</td>
      <td>30</td>
      <td>284.1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>20140709</td>
      <td>20140809</td>
      <td>31</td>
      <td>273.8</td>
    </tr>
    <tr>
      <th>28</th>
      <td>20140809</td>
      <td>20140906</td>
      <td>28</td>
      <td>263.4</td>
    </tr>
    <tr>
      <th>29</th>
      <td>20140906</td>
      <td>20141005</td>
      <td>29</td>
      <td>258.3</td>
    </tr>
    <tr>
      <th>30</th>
      <td>20141005</td>
      <td>20141101</td>
      <td>27</td>
      <td>277.0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>20141101</td>
      <td>20141202</td>
      <td>31</td>
      <td>275.5</td>
    </tr>
    <tr>
      <th>32</th>
      <td>20141202</td>
      <td>20150102</td>
      <td>31</td>
      <td>283.8</td>
    </tr>
    <tr>
      <th>33</th>
      <td>20150102</td>
      <td>20150131</td>
      <td>29</td>
      <td>284.7</td>
    </tr>
    <tr>
      <th>34</th>
      <td>20150131</td>
      <td>20150301</td>
      <td>29</td>
      <td>292.3</td>
    </tr>
    <tr>
      <th>35</th>
      <td>20150301</td>
      <td>20150331</td>
      <td>30</td>
      <td>292.2</td>
    </tr>
    <tr>
      <th>36</th>
      <td>20150331</td>
      <td>20150430</td>
      <td>30</td>
      <td>276.5</td>
    </tr>
    <tr>
      <th>37</th>
      <td>20150430</td>
      <td>20150520</td>
      <td>20</td>
      <td>276.8</td>
    </tr>
    <tr>
      <th>38</th>
      <td>20150520</td>
      <td>20150619</td>
      <td>30</td>
      <td>272.9</td>
    </tr>
    <tr>
      <th>39</th>
      <td>20150619</td>
      <td>20150728</td>
      <td>39</td>
      <td>249.1</td>
    </tr>
    <tr>
      <th>40</th>
      <td>20150728</td>
      <td>20150828</td>
      <td>31</td>
      <td>271.0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>20150828</td>
      <td>20150925</td>
      <td>28</td>
      <td>250.4</td>
    </tr>
    <tr>
      <th>42</th>
      <td>20150925</td>
      <td>20151023</td>
      <td>28</td>
      <td>255.1</td>
    </tr>
    <tr>
      <th>43</th>
      <td>20151023</td>
      <td>20151123</td>
      <td>31</td>
      <td>266.7</td>
    </tr>
    <tr>
      <th>44</th>
      <td>20151123</td>
      <td>20151222</td>
      <td>29</td>
      <td>266.0</td>
    </tr>
    <tr>
      <th>45</th>
      <td>20151222</td>
      <td>20160121</td>
      <td>30</td>
      <td>268.0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>20160121</td>
      <td>20160217</td>
      <td>27</td>
      <td>258.9</td>
    </tr>
    <tr>
      <th>47</th>
      <td>20160217</td>
      <td>20160319</td>
      <td>31</td>
      <td>246.2</td>
    </tr>
    <tr>
      <th>48</th>
      <td>20160319</td>
      <td>20160416</td>
      <td>28</td>
      <td>243.9</td>
    </tr>
    <tr>
      <th>49</th>
      <td>20160416</td>
      <td>20160516</td>
      <td>30</td>
      <td>240.6</td>
    </tr>
    <tr>
      <th>50</th>
      <td>20160516</td>
      <td>20160618</td>
      <td>33</td>
      <td>244.8</td>
    </tr>
    <tr>
      <th>51</th>
      <td>20160618</td>
      <td>20160718</td>
      <td>30</td>
      <td>246.8</td>
    </tr>
    <tr>
      <th>52</th>
      <td>20160718</td>
      <td>20160814</td>
      <td>27</td>
      <td>239.3</td>
    </tr>
    <tr>
      <th>53</th>
      <td>20160814</td>
      <td>20160915</td>
      <td>32</td>
      <td>239.3</td>
    </tr>
    <tr>
      <th>54</th>
      <td>20160915</td>
      <td>20161012</td>
      <td>27</td>
      <td>248.2</td>
    </tr>
    <tr>
      <th>55</th>
      <td>20161012</td>
      <td>20161103</td>
      <td>22</td>
      <td>261.5</td>
    </tr>
    <tr>
      <th>56</th>
      <td>20161103</td>
      <td>20161210</td>
      <td>37</td>
      <td>259.6</td>
    </tr>
    <tr>
      <th>57</th>
      <td>20161210</td>
      <td>20170108</td>
      <td>29</td>
      <td>248.6</td>
    </tr>
    <tr>
      <th>58</th>
      <td>20170108</td>
      <td>20170208</td>
      <td>31</td>
      <td>253.1</td>
    </tr>
    <tr>
      <th>59</th>
      <td>20170208</td>
      <td>20170309</td>
      <td>29</td>
      <td>248.1</td>
    </tr>
    <tr>
      <th>60</th>
      <td>20170309</td>
      <td>20170407</td>
      <td>29</td>
      <td>237.4</td>
    </tr>
    <tr>
      <th>61</th>
      <td>20170407</td>
      <td>20170428</td>
      <td>21</td>
      <td>233.6</td>
    </tr>
    <tr>
      <th>62</th>
      <td>20170428</td>
      <td>20170705</td>
      <td>68</td>
      <td>253.0</td>
    </tr>
    <tr>
      <th>63</th>
      <td>20170705</td>
      <td>20170726</td>
      <td>21</td>
      <td>232.9</td>
    </tr>
    <tr>
      <th>64</th>
      <td>20170726</td>
      <td>20170804</td>
      <td>9</td>
      <td>250.0</td>
    </tr>
    <tr>
      <th>65</th>
      <td>20170804</td>
      <td>20170903</td>
      <td>30</td>
      <td>238.7</td>
    </tr>
    <tr>
      <th>66</th>
      <td>20170903</td>
      <td>20171003</td>
      <td>30</td>
      <td>223.7</td>
    </tr>
    <tr>
      <th>67</th>
      <td>20171003</td>
      <td>20171101</td>
      <td>29</td>
      <td>215.7</td>
    </tr>
    <tr>
      <th>68</th>
      <td>20171101</td>
      <td>20171201</td>
      <td>30</td>
      <td>248.2</td>
    </tr>
    <tr>
      <th>69</th>
      <td>20171201</td>
      <td>20171229</td>
      <td>28</td>
      <td>250.6</td>
    </tr>
    <tr>
      <th>70</th>
      <td>20171229</td>
      <td>20180128</td>
      <td>30</td>
      <td>254.2</td>
    </tr>
    <tr>
      <th>71</th>
      <td>20180128</td>
      <td>20180224</td>
      <td>27</td>
      <td>247.4</td>
    </tr>
    <tr>
      <th>72</th>
      <td>20180224</td>
      <td>20180326</td>
      <td>30</td>
      <td>254.6</td>
    </tr>
    <tr>
      <th>73</th>
      <td>20180326</td>
      <td>20180425</td>
      <td>30</td>
      <td>248.3</td>
    </tr>
    <tr>
      <th>74</th>
      <td>20180425</td>
      <td>20180524</td>
      <td>29</td>
      <td>244.0</td>
    </tr>
    <tr>
      <th>75</th>
      <td>20180524</td>
      <td>20180624</td>
      <td>31</td>
      <td>247.3</td>
    </tr>
    <tr>
      <th>76</th>
      <td>20180624</td>
      <td>20180724</td>
      <td>30</td>
      <td>245.2</td>
    </tr>
    <tr>
      <th>77</th>
      <td>20180724</td>
      <td>20180823</td>
      <td>30</td>
      <td>236.0</td>
    </tr>
    <tr>
      <th>78</th>
      <td>20180823</td>
      <td>20180922</td>
      <td>30</td>
      <td>233.4</td>
    </tr>
    <tr>
      <th>79</th>
      <td>20180922</td>
      <td>20181021</td>
      <td>29</td>
      <td>248.1</td>
    </tr>
    <tr>
      <th>80</th>
      <td>20181021</td>
      <td>20181120</td>
      <td>30</td>
      <td>254.6</td>
    </tr>
    <tr>
      <th>81</th>
      <td>20181120</td>
      <td>20181219</td>
      <td>29</td>
      <td>251.5</td>
    </tr>
    <tr>
      <th>82</th>
      <td>20181219</td>
      <td>20190118</td>
      <td>30</td>
      <td>249.4</td>
    </tr>
    <tr>
      <th>83</th>
      <td>20190118</td>
      <td>20190213</td>
      <td>26</td>
      <td>251.9</td>
    </tr>
    <tr>
      <th>84</th>
      <td>20190213</td>
      <td>20190318</td>
      <td>33</td>
      <td>249.4</td>
    </tr>
    <tr>
      <th>85</th>
      <td>20190318</td>
      <td>20190416</td>
      <td>29</td>
      <td>241.8</td>
    </tr>
    <tr>
      <th>86</th>
      <td>20190416</td>
      <td>20190516</td>
      <td>30</td>
      <td>244.3</td>
    </tr>
    <tr>
      <th>87</th>
      <td>20190516</td>
      <td>20190614</td>
      <td>29</td>
      <td>240.9</td>
    </tr>
    <tr>
      <th>88</th>
      <td>20190614</td>
      <td>20190713</td>
      <td>29</td>
      <td>240.1</td>
    </tr>
    <tr>
      <th>89</th>
      <td>20190713</td>
      <td>20190812</td>
      <td>30</td>
      <td>240.6</td>
    </tr>
    <tr>
      <th>90</th>
      <td>20190812</td>
      <td>20190911</td>
      <td>30</td>
      <td>227.8</td>
    </tr>
    <tr>
      <th>91</th>
      <td>20190911</td>
      <td>20191010</td>
      <td>29</td>
      <td>230.2</td>
    </tr>
    <tr>
      <th>92</th>
      <td>20191010</td>
      <td>20191106</td>
      <td>27</td>
      <td>224.8</td>
    </tr>
  </tbody>
</table>