<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Start</th>
      <th>Stop</th>
      <th>Length</th>
      <th>Ref</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>20120530</td>
      <td>20120712</td>
      <td>43</td>
      <td>265.104</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20120712</td>
      <td>20120721</td>
      <td>9</td>
      <td>310.844</td>
    </tr>
    <tr>
      <th>2</th>
      <td>20120721</td>
      <td>20120815</td>
      <td>24</td>
      <td>283.888</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20120815</td>
      <td>20120904</td>
      <td>20</td>
      <td>201.063</td>
    </tr>
    <tr>
      <th>4</th>
      <td>20120904</td>
      <td>20130126</td>
      <td>144</td>
      <td>247.172</td>
    </tr>
    <tr>
      <th>5</th>
      <td>20130126</td>
      <td>20130205</td>
      <td>10</td>
      <td>279.133</td>
    </tr>
    <tr>
      <th>6</th>
      <td>20130205</td>
      <td>20130326</td>
      <td>48</td>
      <td>253.264</td>
    </tr>
    <tr>
      <th>7</th>
      <td>20130326</td>
      <td>20130610</td>
      <td>76</td>
      <td>266.675</td>
    </tr>
    <tr>
      <th>8</th>
      <td>20130610</td>
      <td>20130724</td>
      <td>43</td>
      <td>287.385</td>
    </tr>
    <tr>
      <th>9</th>
      <td>20130724</td>
      <td>20131003</td>
      <td>71</td>
      <td>256.852</td>
    </tr>
    <tr>
      <th>10</th>
      <td>20131003</td>
      <td>20131113</td>
      <td>40</td>
      <td>287.699</td>
    </tr>
    <tr>
      <th>11</th>
      <td>20131113</td>
      <td>20140228</td>
      <td>107</td>
      <td>275.026</td>
    </tr>
    <tr>
      <th>12</th>
      <td>20140228</td>
      <td>20140505</td>
      <td>65</td>
      <td>251.423</td>
    </tr>
    <tr>
      <th>13</th>
      <td>20140505</td>
      <td>20140723</td>
      <td>79</td>
      <td>286.844</td>
    </tr>
    <tr>
      <th>14</th>
      <td>20140723</td>
      <td>20140902</td>
      <td>41</td>
      <td>272.719</td>
    </tr>
    <tr>
      <th>15</th>
      <td>20140902</td>
      <td>20141010</td>
      <td>38</td>
      <td>259.368</td>
    </tr>
    <tr>
      <th>16</th>
      <td>20141010</td>
      <td>20150328</td>
      <td>169</td>
      <td>283.458</td>
    </tr>
    <tr>
      <th>17</th>
      <td>20150328</td>
      <td>20150709</td>
      <td>103</td>
      <td>276.883</td>
    </tr>
    <tr>
      <th>18</th>
      <td>20150709</td>
      <td>20151009</td>
      <td>91</td>
      <td>252.235</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20151009</td>
      <td>20160301</td>
      <td>144</td>
      <td>267.659</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20160301</td>
      <td>20160712</td>
      <td>133</td>
      <td>247.394</td>
    </tr>
    <tr>
      <th>21</th>
      <td>20160712</td>
      <td>20160829</td>
      <td>48</td>
      <td>238.882</td>
    </tr>
    <tr>
      <th>22</th>
      <td>20160829</td>
      <td>20161014</td>
      <td>46</td>
      <td>250.055</td>
    </tr>
    <tr>
      <th>23</th>
      <td>20161014</td>
      <td>20170301</td>
      <td>137</td>
      <td>255.512</td>
    </tr>
    <tr>
      <th>24</th>
      <td>20170301</td>
      <td>20170902</td>
      <td>185</td>
      <td>237.743</td>
    </tr>
    <tr>
      <th>25</th>
      <td>20170902</td>
      <td>20171104</td>
      <td>63</td>
      <td>224.624</td>
    </tr>
    <tr>
      <th>26</th>
      <td>20171104</td>
      <td>20180415</td>
      <td>162</td>
      <td>255.287</td>
    </tr>
    <tr>
      <th>27</th>
      <td>20180415</td>
      <td>20180815</td>
      <td>122</td>
      <td>247.944</td>
    </tr>
    <tr>
      <th>28</th>
      <td>20180815</td>
      <td>20180914</td>
      <td>29</td>
      <td>234.540</td>
    </tr>
    <tr>
      <th>29</th>
      <td>20180914</td>
      <td>20190317</td>
      <td>184</td>
      <td>252.804</td>
    </tr>
    <tr>
      <th>30</th>
      <td>20190317</td>
      <td>20190814</td>
      <td>150</td>
      <td>242.034</td>
    </tr>
    <tr>
      <th>31</th>
      <td>20190814</td>
      <td>20190824</td>
      <td>9</td>
      <td>233.795</td>
    </tr>
    <tr>
      <th>32</th>
      <td>20190824</td>
      <td>20190831</td>
      <td>7</td>
      <td>198.795</td>
    </tr>
    <tr>
      <th>33</th>
      <td>20190831</td>
      <td>20191106</td>
      <td>66</td>
      <td>229.332</td>
    </tr>
  </tbody>
</table>